[submodule "dependencies/sdl"]
	path = dependencies/sdl
	url = https://github.com/libsdl-org/SDL
[submodule "dependencies/sdl2"]
	path = dependencies/sdl2
	url = https://gitlab.com/aminosbh/sdl2-cmake-modules.git
